div.canvas{
    text-align: center;
    
    background-color: var(--darkgrey);

    margin: 75px 10% 50px 10%;
    padding-bottom: 1px;

    border-radius: 15px;
    display: block;
}

div.canvas > h1,h2{
    display: block;
    height: 25px;
    color: var(--pxWhite);
    margin-top: 0px;
    font-size: 35px;
}

.anno{
    margin: 75px 20% 0px 20%;

}

.anno-content{
    
    align-self: center;
    background-color: var(--darkgrey);
    min-height: 73px;
    align-content: center;
    display: grid;
    border-radius: 25px;
}
.anno-content-case{
    display: grid;
}

.anno-content > article{
    text-align: center;
    color: var(--pxWhite);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game > h2{
    display: block;
}

#game > div {
    border-radius: 15px;
    display: inline-block;
    padding: 65px;
    background-color: var(--softGrey);
}

div.gameColumn{

    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.gameColumn > h2{
    color: var(--mainGrey);
    font-family: 'Oswald', sans-serif;
}


div.game{

    display: flex;
    margin: 25px;
    justify-content: center;
}


.game-panel article{
    margin: 5px;
}

.game-panel:hover{
    /* width: 280px;
    height: 300px; */
    transform: scale(1.3); 
    z-index: 9999;
    background-color: var(--darkestInTheWest);    
}


div.gameImgContainer{
    overflow: hidden;
    
    display: flex;
    min-height: 120px;
    background-color: var(--softGrey);
}

div.gameImgContainer > img{
    width: 100% ;
    object-fit: unset;
    white-space: normal;
}
.watermark{
    rotate: -14deg;
    align-items: center;
    font-size: 45px;
    display: flex;
}

div.game > h3{
    text-align: start !important;
    margin: 0px;
}


.game > p{
    margin : 0px;
}

div.gamesTab > h2{
    display: inline-block;
}

.game-links > a > i{
    font-size: 29px;
    color: var(--pxWhite);
    transition: 0.15s;
}
.game-info > h4 {
    margin-bottom: 5px;
}

.game-links > a > i:hover{
    font-size: 35px;
}

.game-panel{
    color: var(--pxWhite);
    font-family: 'Oswald', sans-serif;
    background-color: var(--darkgrey);
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;

    width: 265px;
    height:180px;
}
