/* by paxel */

:root {
    --mainGrey: rgb(38, 38, 38);
    --softGrey: rgb(175, 175, 175);
    --darkgrey: rgb(30, 30, 30);
    --darkestInTheWest: rgb(20,20,20);
    --pxWhite: #ffffff;

    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
body{
    background-color: var(--pxWhite);
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}


hr{
    width: 80%;
    height: 15px;
    border-radius: 15px;
    background-color: var(--darkgrey);
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.center-icon{
    white-space: unset;
    width: 120px;
    float: left;
}

.header-canvas{
    
    height: 100px;
    padding: 15px 15% 0% 15%;
    display: block;
    z-index: 999;
    /*! overflow: hidden; */
}

header > article{
    font-family: 'Oswald', sans-serif;
    color: var(--darkgrey);
    font-size: 18px;
}


/* title */
#title{
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0,0.05);

    float: left;
    cursor: default;
    padding: 0px 25px 10px 25px;

    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 250%;
    color: var(--pxWhite);
    background-color: var(--mainGrey);
}
/* Nav Buttons */
.nav-buttons a{
    border-radius: 30px;
    background-color: var(--softGrey);
    color: var(--pxWhite);
    display: block;
    padding: 15px 25px 15px 25px;
    font-family: 'Oswald', sans-serif;

    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0,0.065);
    float: right;
    margin: 15px;
    transition: 0.05s;
}

.nav-buttons a:hover, .nav-buttons a:active{
    background-color: var(--mainGrey);
}


/* header end*/


/* games main canvas */
div.canvas{
    text-align: center;
    
    margin: 75px 10% 50px 10%;
    padding-bottom: 1px;

    border-radius: 15px;
    display: block;
    color: var(--pxWhite);
}


/* Game Canvas Title */
div.canvas > h1,h2{
    color: var(--mainGrey);
    display: block;
    

    margin-top: 0px;
    font-family: 'Oswald', sans-serif;
}





div.main-canvas{
    text-align: left;
    margin: 75px 0% 50px 0% !important; 
    min-width: 600px;
    display: block ruby;
    text-align: center !important;
}
div.main-widthcanvas{
    width: 40%;
    min-width: 500px;
    align-self: center;
}




footer{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 15px;
    margin: 0px 10% 0px 10%;
}
footer a{
   color : black;
}

footer a:hover{
    text-decoration: underline;
}

.social-links{
    height: 84px;
    align-items: center;
    display: inline-flex;
    margin-top: 20px;
    width: fit-content;
}


.social-links a::after{
    position: fixed;
}

.social-links > a > i{
    color: var(--darkestInTheWest);
    text-align: center;
    font-size: 40px;
    line-height: 25px;
    transition: 0.15s;
}
.social-links > a > i:hover{
    transform: scale(1.4); 
}



@media only screen and (max-width: 768px) {
    div.header-canvas{padding: 0px;}
    
    

    header > article {
      display: none;
    }
    div.main-widthcanvas{
        width: 100%;
        min-width: 0px;
        
    }
    div.main-canvas{
        width: 100%;
        min-width: 0px;
    }
    footer {
        font-size: 20px;
    }
}